<h1> Show Page for <%= @participant.name %> </h1>

<h3> Registries: </h3>

<% if @participant.registries.length < 1 %>
<h4> Not Currently Enrolled</h4>
<% end %>

<% @participant.registries.each do |r| %>
    <%= r.name %>, <%= r.location %>
<% end %>

<br/><br/>
<%= link_to 'Update Profile', edit_participant_path %>
<br/><br/>
<%= link_to 'Add to a Registry', add_registry_path %>