<h1> Edit Details for <%= @registry.name %> at <%= @registry.location %></h1>

<%= form_for(@registry) do |f| %>
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/><br/>
    <%= f.label :location %><br/>
    <%= f.text_field :location %><br/><br/>
    <%= f.label :status %><br/>
    <%= f.text_field :status %><br/><br/>
    <%= f.submit %>
<% end %>